/*!! import section  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

/*?? style section   */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden !important; */
  width: 100%;
  /* overflow-x: auto; */
}
body {
  /* background-image: linear-gradient(
      to right,
      rgb(17, 193, 232, 0.5),
      rgba(196, 113, 237, 0.55),
      rgb(246, 79, 89, 0.65)
    ),
    url("images/background1.jpg"); */
  /* width: 80%; */
  /* height: 400px; */
  /* background-size: cover; */
  /* color: white; */
  /* padding: 20px; */
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
  overflow-y: scroll;
}
.front {
  overflow-x: hidden !important;
  max-height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%),
    url("images/background1.jpg");
  /* width: 80%; */
  /* height: 400px; */
  background-size: cover;
  color: white;
}
.main-box-pc {
  display: none;
}
.front::after {
  content: "";
  position: relative;
  /* width: 250px;
  height: 250px; */
  z-index: 3;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  /* overflow-x: hidden !important; */
  transform: translate(176px, 268px);
  /* display: none; */
  /* backdrop-filter: blur(225px); */
}
.main-box::after {
  display: none;
}
.main-box::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 140px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(-174px, -140px);
  /* backdrop-filter: blur(225px); */
  z-index: 1;
}
.main-box-mobile {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  padding: 0px 15px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  /* height: 100vh; */

  text-align: left;
  overflow-x: hidden !important;
  max-width: 100%;
}

.main-box::before {
  content: "";
}
/*?? image style  */
.photo {
  width: 170px;
  height: 170px;
  margin-left: -212px;
  /* margin-left: 100px; */
  /* border-radius: 50%; */
  box-shadow: 7px 5px 10px rgb(2 2 2 / 35%);

  display: none;
}
.photo-mobile {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  /* margin-left: -212px; */
  /* margin: auto; */
  margin: 0px 0px 40px 0px;
  display: block;
  /* margin-left: 100px; */
  /* border-radius: 50%; */
  box-shadow: 7px 5px 10px rgb(2 2 2 / 35%);
  box-shadow: 0 0 0 1px rgba(199, 199, 199, 0.9),
    0 0 0 4px rgba(255, 255, 255, 0.7), 0 0 0 8px rgba(255, 255, 255, 0.5),
    0 0 0 12px rgba(255, 255, 255, 0.3), 0 0 0 16px rgba(255, 255, 255, 0.1),
    0 0 0 20px rgba(255, 255, 255, 0.5);
}
.title {
  display: none;
}
.name {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Abril Fatface", cursive;
}
.web-dev-word {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.title-mobile {
  margin: 2px;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 45px;
  color: white;
  background: rgb(255, 255, 255, 0.1);
  /* z-index: 1; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
.subtitle {
  font-size: 1.3rem;
  color: rgb(255, 255, 0);
  letter-spacing: 2px;
  margin: -2px 0px 10px 0px;
}

hr {
  display: block;
  margin: auto;
}
.description {
  display: none;
}
.description-mobile {
  font-weight: 200;
  margin: 10px 0px 10px 0px;
  /* font-size: 17px; */
  font-size: 1.55rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  overflow: auto;
  /* text-align: left; */
}

.info-box {
  width: 100% !important;
  /* margin: 0px 15px 25px 0px; */
  margin: 0px auto;

  display: block;
  /* margin: auto; */
  text-align: center;
}
button {
  margin: 15px 0px 10px 0px;
  letter-spacing: 1px;
  font-size: 17px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
  background: white;
  border: none;
  /* background: linear-gradient(
    to right,
    rgb(17, 193, 232, 0.6),
    rgba(196, 113, 237, 0.445),
    rgb(246, 79, 89, 0.3)
  );
  color: white; */
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 10px 30px,
    #b2f7ef 30px 50px,
    #eff7f6 50px 70px,
    #f7d6e0 70px 90px,
    #f2b5d4 90px 110px
  );
  color: rgb(0, 0, 0);
  box-shadow: 7px 5px 10px rgb(2 2 2 / 35%);
}
button:hover {
  background-position: 20% center;
}
.social-pc {
  display: none;
}
.social-mobile {
  margin: 15px 0px 0px 20px;
}

.social-mobile {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-mobile li {
  padding-right: 20px;
}
.social-mobile li img {
  width: 30px;
  opacity: 70%;
  filter: grayscale(100%);
}
.social-mobile li .fa {
  width: 30px;
  font-size: 30px;
  opacity: 70%;
}
.home-text {
  display: none;
}

/* ?? About section style  */
section .about {
  position: relative;
  overflow-x: hidden !important;
  max-width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background: rgb(0, 0, 0);
  padding: 25px 0px 25px 0px;
}
section h1 {
  color: gray;
  font-size: 2.5rem;
}
.box {
  position: relative;
  margin: 20px 10px;
  width: 180px;
  height: 180px;
  background: rgb(255, 255, 255, 0.1);
  z-index: 1;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  /* flex-direction: column; */
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}
section h1 {
  text-align: center;
  /* font-family: "Playfair Display SC", serif; */
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  z-index: 1;
  margin: 0px 0px 25px 0px;
  word-spacing: 2px;
  text-shadow: 12px 6px 011px rgba(0, 0, 0, 0.35);
}
.dev-logo {
  width: 100px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(#f3f5f5, #9c27b0);
  border-radius: 50%;
  transform: translate(-187px, -166px);
}

section::after {
  content: "";
  position: absolute;

  width: 190px;
  height: 190px;
  background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2));
  border-radius: 50%;
  transform: translate(106px, 313px);
  overflow-y: hidden;
}

.triangle-1 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 140 91 / 93%);
  position: absolute;
  transform: translate(179px, -249px);
}
.triangle-2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 214 0);
  position: absolute;

  transform: translate(-105px, 197px);
}
.triangle-3 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #379ad6;
  position: absolute;
  transform: translate(19px, -29px);
}

.navbar {
  display: none;
}

.triangle-1 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 140 91 / 93%);
  position: absolute;
  transform: translate(146px, -433px);
}
.triangle-2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 214 0);
  position: absolute;

  transform: translate(142px, 557px);
}
.triangle-3 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #379ad6;
  position: absolute;
  transform: translate(-162px, 121px);
}
