/*!! import section  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");

z :root {
  --font-size: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
/*?? style section   */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* padding: 20px; */
  padding: 0px;
}

.front {
  /* background-color: #7f5a83; */
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%),
    url("images/background1.jpg");
  /* width: 80%; */
  /* height: 400px; */
  background-size: cover;
  color: white;
}

.main-box {
  display: flex;
  margin: 0px 2rem 0px 7rem;
  padding: 0px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  height: 100vh;
  width: 100%;
}
.main-box-mobile {
  display: none;
}
/*?? image style  */
.photo {
  width: 300px;
  height: 300px;

  margin-right: 100px;
  border-radius: 50%;
  /* box-shadow: 7px 5px 10px rgb(2 2 2 / 35%); */
  /* box-shadow: 0 0 0 15px rgba(59, 114, 255, 0.9),
    0 0 0 25px rgba(59, 114, 255, 0.7), 0 0 0 35px rgba(59, 114, 255, 0.5),
    0 0 0 45px rgba(59, 114, 255, 0.3), 0 0 0 55px rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 0 1px rgba(59, 114, 255, 0.9),
    0 0 0 15px rgba(255, 255, 255, 0.7), 0 0 0 25px rgba(255, 255, 255, 0.5),
    0 0 0 35px rgba(255, 255, 255, 0.3), 0 0 0 45px rgba(255, 255, 255, 0.1),
    0 0 0 55px rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(25px); */
}
.photo-mobile {
  display: none;
}
.info-box {
  width: auto;
  /* border: 1px solid black; */
  /* margin-right: 20%; */
  background: rgb(255, 255, 255, 0.1);
  /* z-index: 1; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  /* margin: 20px; */
  padding: 20px;
  text-align: center;
  z-index: 3;
}

.title {
  font-size: 45px;
  font-weight: 300;
  color: white;
  background: rgb(255, 255, 255, 0.1);
  /* z-index: 1; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(20px); */

  border-radius: 10px;
  margin: 0px 10px;
  padding: 0px 10px;
}
.subtitle {
  font-size: 25px;
  color: rgb(255, 255, 0);
  letter-spacing: 2px;
  margin: -2px 0px 25px 0px;
}
.name:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

hr {
  width: 100px;
  color: rgb(255, 145, 0);
  height: 10px;
  /* margin-left: -30px; */
  border: 0;
  box-shadow: inset 0 5px 5px -5px rgb(253, 144, 2);
  /* border: 1px solid rgb(240, 29, 29); */
  display: block;
  margin: auto;
}
.description {
  font-weight: 250;
  margin: 25px 0px 25px 0px;
  font-size: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.First-word {
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(187, 187, 187); */
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}
.social-mobile {
  display: none;
}
.social {
  margin: 25px 0px;
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.social li {
  padding-right: 20px;
  margin: 5px;
  /* padding: 10px; */
}
.social li img {
  width: 30px;
  opacity: 70%;
  filter: grayscale(100%);
}
.social li .fa {
  width: 30px;
  font-size: 30px;
  opacity: 70%;
  /* padding: 15px; */
}
button {
  margin: 15px 0px 10px 0px;
  letter-spacing: 1px;
  font-size: 17px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
  background: white;
  border: none;
  box-shadow: 7px 5px 10px rgb(2 2 2 / 35%);
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 10px 30px,
    #b2f7ef 30px 50px,
    #eff7f6 50px 70px,
    #f7d6e0 70px 90px,
    #f2b5d4 90px 110px
  );
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
button:hover {
  /* background: linear-gradient(
    to right,
    rgb(17, 193, 232, 0.52),
    rgba(196, 113, 237, 0.52),
    rgb(246, 79, 89, 0.52)
  );
  color: white; */
  background-color: brown;
  /* background-position: right center; */
  /* background-position: 20% center; */
}

.web-dev-word:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.name {
  /* background: rgb(255, 255, 255); */
  color: rgb(255, 255, 255);
  font-family: "Abril Fatface", cursive;
}

.fa:hover {
  color: rgb(255, 255, 255);
  width: 40px;
}

.home-text {
  position: absolute;
  left: -55px;
  bottom: 22px;
  transform: rotate(270deg);
  font-size: 32px;
  letter-spacing: 1px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.scroll-down {
  position: relative;
  transform: translate(100px, 100px);
}
.main-box::before {
  content: "";
  position: absolute;

  width: 190px;
  height: 190px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(-123px, -219px);
  /* backdrop-filter: blur(225px); */
  z-index: 1;
}
.main-box::after {
  content: "";
  position: absolute;

  width: 350px;
  height: 350px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(590px, 229px);
  z-index: 0;
  display: none;
  /* backdrop-filter: blur(225px); */
}

/* ?? skill section style  */
.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #161623; */
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  flex-direction: column;
  z-index: 1;
  width: 100%;
}
skill::before {
  content: "";
  position: relative;
  /* z-index: 2; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}
skill::after {
  content: "";
  position: relative;
  /* z-index: 2; */
  bottom: -50px;
  /* bottom: 0; */
  /* 
  width: 100%;
  height: 100%; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(#f00, #f0f);
  /* clip-path: circle(30% at right 70%); */
}
.skill .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}
.skill h1 {
  font-size: 8em;
  color: rgba(255, 255, 255, 0.203);
  position: relative;
  /* top: 50px; */
}
.skill h1:hover {
  background: rgba(255, 255, 255, 0);
  color: rgba(0, 253, 253, 0.651);
}
.skill .container .card {
  padding: relative;
  width: 250px;
  height: 280px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  /* text-align: center; */
}
.skill .container .card .skill-logo img {
  display: block;
  margin: 0 0 0 -165px;
  width: 250px;
  text-align: center;
}
.skill .container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.55s;
}
.skill .container .card:hover .skill-logo {
  display: none;
}
.skill .container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.skill .container .card .content h2 {
  position: absolute;
  top: -80px;
  right: 3px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.09);
  pointer-events: none;
}
.skill .container .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.skill .container .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.skill .container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.skill .container .card:nth-child(3) .content h2 {
  font-size: 3.8em;
  z-index: -1;
  top: -40px;
  right: 0px;
}
.skill .container .card:nth-child(4) .content h2 {
  font-size: 3.8em;
  z-index: -1;
  top: -40px;
  right: 0px;
}
.skill .container .card:nth-child(5) .content h2 {
  font-size: 3.8em;
  z-index: -1;
  top: -40px;
  right: 0px;
}
