/*!! import section  */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");

z :root {
  --font-size: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
/*?? style section   */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* padding: 20px; */
  padding: 0px;
}

.front {
  /* background-color: #7f5a83; */
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%),
    url("images/background1.jpg");
  /* width: 80%; */
  /* height: 400px; */
  background-size: cover;
  color: white;
}

.main-box {
  display: flex;
  margin: 0px 2rem 0px 7rem;
  padding: 0px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  height: 100vh;
  width: 100%;
}
.main-box-mobile {
  display: none;
}
/*?? image style  */
.photo {
  width: 300px;
  height: 300px;

  margin-right: 100px;
  border-radius: 50%;
  /* box-shadow: 7px 5px 10px rgb(2 2 2 / 35%); */
  /* box-shadow: 0 0 0 15px rgba(59, 114, 255, 0.9),
    0 0 0 25px rgba(59, 114, 255, 0.7), 0 0 0 35px rgba(59, 114, 255, 0.5),
    0 0 0 45px rgba(59, 114, 255, 0.3), 0 0 0 55px rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 0 1px rgba(59, 114, 255, 0.9),
    0 0 0 15px rgba(255, 255, 255, 0.7), 0 0 0 25px rgba(255, 255, 255, 0.5),
    0 0 0 35px rgba(255, 255, 255, 0.3), 0 0 0 45px rgba(255, 255, 255, 0.1),
    0 0 0 55px rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(25px); */
}
.photo-mobile {
  display: none;
}
.info-box {
  width: auto;
  /* border: 1px solid black; */
  /* margin-right: 20%; */
  background: rgb(255, 255, 255, 0.1);
  /* z-index: 1; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  /* margin: 20px; */
  padding: 20px;
  text-align: center;
  z-index: 3;
}

.title {
  font-size: 45px;
  font-weight: 300;
  color: white;
  background: rgb(255, 255, 255, 0.1);
  /* z-index: 1; */
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(20px); */

  border-radius: 10px;
  margin: 0px 10px;
  padding: 0px 10px;
}
.subtitle {
  font-size: 25px;
  color: rgb(255, 255, 0);
  letter-spacing: 2px;
  margin: -2px 0px 25px 0px;
}
.name:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

hr {
  width: 100px;
  color: rgb(255, 145, 0);
  height: 10px;
  /* margin-left: -30px; */
  border: 0;
  box-shadow: inset 0 5px 5px -5px rgb(253, 144, 2);
  /* border: 1px solid rgb(240, 29, 29); */
  display: block;
  margin: auto;
}
.description {
  font-weight: 250;
  margin: 25px 0px 25px 0px;
  font-size: 25px;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.First-word {
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(187, 187, 187); */
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}
.social-mobile {
  display: none;
}
.social {
  margin: 25px 0px;
}
.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.social li {
  padding-right: 20px;
  margin: 5px;
  /* padding: 10px; */
}
.social li img {
  width: 30px;
  opacity: 70%;
  filter: grayscale(100%);
}
.social li .fa {
  width: 30px;
  font-size: 30px;
  opacity: 70%;
  /* padding: 15px; */
}
button {
  margin: 15px 0px 10px 0px;
  letter-spacing: 1px;
  font-size: 17px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
  background: white;
  border: none;
  box-shadow: 7px 5px 10px rgb(2 2 2 / 35%);
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 10px 30px,
    #b2f7ef 30px 50px,
    #eff7f6 50px 70px,
    #f7d6e0 70px 90px,
    #f2b5d4 90px 110px
  );
  color: rgb(0, 0, 0);
  transition: all 0.5s;
}
button:hover {
  /* background: linear-gradient(
    to right,
    rgb(17, 193, 232, 0.52),
    rgba(196, 113, 237, 0.52),
    rgb(246, 79, 89, 0.52)
  );
  color: white; */
  background-color: brown;
  /* background-position: right center; */
  /* background-position: 20% center; */
}

.web-dev-word:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.name {
  /* background: rgb(255, 255, 255); */
  color: rgb(116, 116, 116);
  font-family: "Abril Fatface", cursive;
}

.fa:hover {
  color: rgb(255, 255, 255);
  width: 40px;
}

.home-text {
  position: absolute;
  left: -55px;
  bottom: 22px;
  transform: rotate(270deg);
  font-size: 32px;
  letter-spacing: 1px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.scroll-down {
  position: relative;
  transform: translate(100px, 100px);
}
.main-box::before {
  content: "";
  position: absolute;

  width: 190px;
  height: 190px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(-123px, -219px);
  /* backdrop-filter: blur(225px); */
  z-index: 1;
}
.main-box::after {
  content: "";
  position: absolute;

  width: 350px;
  height: 350px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(590px, 229px);
  /* backdrop-filter: blur(225px); */
}

/* ?? About section style  */
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
}

section::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(-297px, -18px);
}

section::after {
  content: "";
  position: absolute;

  width: 230px;
  height: 230px;
  /* background: linear-gradient(#ff2871, rgba(255, 40, 113, 0.2)); */
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  /* transform: translate(192px, 174px); */
  transform: translate(273px, 237px);
  /* backdrop-filter: blur(225px); */
}

.container {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0rem 7rem 0rem 2rem;
}
section h1 {
  text-align: center;
  /* font-family: "Playfair Display SC", serif; */
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
  z-index: 1;
  margin: 0rem 7rem 0rem 2rem;
  word-spacing: 2px;
  text-shadow: 12px 6px 011px rgba(255, 255, 255, 0.35);
}

.box {
  position: relative;
  margin: 0px 50px 30px 50px;
  width: 250px;
  height: 250px;
  background: rgb(255, 255, 255, 0.1);
  z-index: 1;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box h3 {
  color: #f7d6e0;
  /* font-weight: 800; */
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.dev-logo {
  width: 150px;
}

.percent {
  color: gray;
  font-weight: 650;
}
.triangle-1 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 140 91 / 93%);
  position: absolute;

  transform: translate(-83px, 298px);
}
.triangle-2 {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid rgb(255 214 0);
  position: absolute;

  transform: translate(443px, -16px);
}
.triangle-3 {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #379ad6;
  position: absolute;

  transform: translate(93px, -215px);
}

.black-about {
  background: black;
}
.black-about > h1 {
  color: aliceblue;
}
